/* Reseteo básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* Body / contenedor principal */
body,
#root {
  min-height: 100vh;
  background-color: transparent;
  background-image: url("/landscape-web.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Header */
.header {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 1rem;
}


.title {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
}

/* Botones de login y registro */
.button-container {
  display: flex;
  margin-left: auto;
  gap: 1rem;
}

.button {
  color: white;
  font-weight: bold;
  background: transparent;
  border: none;
  font-size: 16pt;
  cursor: pointer;
}

.button.underline {
  text-decoration: underline;
}

/* Main */
.main {
  padding: 18rem 2rem 2rem 10rem;
}


.subtitle {
  font-size: 50pt;
  font-weight: 600;
  color: #05362e;
  margin-bottom: 1rem;
  background: transparent;
}

/* Formulario */
.form {
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-card {
  display: flex;
  /* Usa flexbox para organizar los elementos */
  flex-direction: column;
  /* Coloca los elementos en columna */
  gap: 1.5rem;
  /* Espacio entre los elementos del formulario */
  margin: 0;
  /* Elimina cualquier margen extra */
  padding: 0;
  /* Elimina el padding extra */
}

.field {
  position: relative;
}

.field input,
.field select {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background: white;
  color: #053731;
  outline: none;
}

.field label {
  position: absolute;
  left: 1.5rem;
  top: 1rem;
  color: #053731;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.2s ease;
  background: transparent;
}

.field input:focus+label,
.field input:not(:placeholder-shown)+label,
.field select:focus+label,
.field select:not([value=""])+label {
  top: -0.6rem;
  left: 0.8rem;
  font-size: 0.8rem;
  background: white;
  padding: 0 0.3rem;
}

/* Botón de submit */
.submit-button {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #359359;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
}

.submit-button:hover {
  background-color: #15803d;
}

.form-container {
  padding: 20px;
  /* Espacio interno dentro del recuadro */
  background: white;
  /* Fondo blanco */
  border: 1px solid #ccc;
  /* Borde gris claro */
  border-radius: 8px;
  /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
  max-width: 600px;
  /* Ancho máximo del formulario */
  margin: 0 auto;
  /* Centra el contenedor horizontalmente */
}